extends layout.pug

block title
  title Logout

block content
    .topBloc
      a.a1(href='/home.html') Home
      a.a2(href='/searchRides.html') Search for a Ride
      a.a3(href='/logout.html') Log Out
    .leftBloc
      form(action='/quickSearchRides.html', method='post')
        p Quick search by departure town :
        input(style='width:80%; margin-left:5px; margin-bottom:3px;', type='text', name='search')
        input(style='margin-left:5px;', type='submit', value='Search rides')
      a(href='/myProfile.html', style='color:white; text-decoration:none;')
        p My profile
      a(href='/proposeARide.html', style='color:white; text-decoration:none;')
        p Propose A Ride
      a(href='/proposedRides.html', style='color:white; text-decoration:none;')
        p My proposed rides
      a(href='/subscribedRides.html', style='color:white; text-decoration:none;')
        p My subscribed rides
      a(href='/searchRides.html', style='color:white; text-decoration:none;')
        p Search for rides
      a(href='/searchRiders.html', style='color:white; text-decoration:none;')
        p Search for riders
      a(href='/aboutCovoituride.html', style='color:white; text-decoration:none;')
        p About covoituride
    .bodyBloc
      form(action='/modifyProfile.html', method='get')
        div(style='padding-top:40px; padding-bottom:5px;')
          label Username:
          if usernameDB
            name= usernameDB
        div(style='padding-top:40px; padding-bottom:5px;')
          label Password:
          if passwordDB
            name= passwordDB
        div(style='padding-bottom:5px;')
          label First Name:
          if firstNameDB
            name= firstNameDB
        div(style='padding-bottom:5px;')
          label Last Name:
          if lastNameDB
            name= lastNameDB
        div(style='padding-bottom:5px;')
          label City of Residence:
          if cityOfResidenceDB
            name= cityOfResidenceDB
        div(style='padding-bottom:5px;')
          label Email:
          if emailDB
            name= emailDB
        div(style='padding-bottom:5px;')
          label Votes:
          if votesDB
            name= votesDB
        div(style='padding-bottom:5px;')
          label Description:
          if descriptionDB
            name= descriptionDB
        div(style='padding-bottom:5px;')
        form(action='/modifyProfile.html')
          input(type='submit', value='Edit my profile')
